
<!DOCTYPE HTML>
<html>
<head>
 	<meta http-equiv="content-type" content="text/html; charset=utf-8">
 	<meta name="robots" content="all">
 	<title>Przedsiębiorstwo Usług Morskich UNIPIL Sp. z o.o.</title>

	<meta name="description" content="Stacja pilotowa w Gdyni"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="jc/unipil.css">
	<link rel="stylesheet" media="screen" href="jc/superfish.css" /> 

	<script src="jc/superfish.js"></script> 

	<script> 
		$(document).ready(function(){ 
			$("ul.sf-menu").superfish(); 
		}); 

	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2571487-11']);
	  __gaq.push(['_trackPageview']);

	  (function() {
	  	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
 
<body>
 	<div id='eyed'> 
 	<div id='intro'> 
		<div id="links">
				<h1 style='padding-top: 204px'><span>Przedsiębiorstwo Usług Morskich UNIPIL</span></h1>
				<ul  class="sf-menu sf-navbar">
					<li><a class="sf-with-ul" href="#">Pilotaż<span class="sf-sub-indicator"> &#187;</span></a> 
					<ul>
						<li><a href='?a=taryfa_2019'>Taryfa</a>
						<li><a href='?a=ruch'>Ruch w porcie</a>
					</ul>
					<li><a class="sf-with-ul" href="#">Zamawianie<span class="sf-sub-indicator"> &#187;</span></a> 
					<ul>
						<li><a href='?a=zamawianie'>Procedura</a>
						<li><a href='?a=internet'>Internet</a>
						<li><a href='?a=przewoz'>Przewóz osób</a>
					</ul>
					<li><a class="sf-with-ul" href="#">O firmie<span class="sf-sub-indicator"> &#187;</span></a> 
					<ul>
						<li><a href='?a=historia'>Historia</a>
						<li><a href='?a=wyposazenie'>Wyposażenie</a>
						<li><a href='?a=iso'>ISO 9001</a>
						<li><a href='?a=multi'>Multimedia</a>
						<li><a href='?a=kontakt'>Kontakt</a>
					</ul>
					<li><a href='?a=rodo'>RODO</a>
					<li id='language'><a href="http://www.unipil.pl/en"><img src='graf/uk.jpg'></a> 
				</ul>
		</div>
		 <div id="container">
 			<div id="summary">
				
<h2>RUCH STATKÓW W PORCIE GDYNIA</h2>
<TABLE id='ruch'> 
<Tr> 
<TH style='width: 80px'>Dzień
<TH>Info
<TH>Godzina
<TH>Nazwa
<TH>Dlugość
<TH>Skąd
<TH>Dokąd
	<TR><TD class='data'>2020-01-18<TD class='data'><TD class='data'>14:32<TD>AAA_SligdzvdlxvHIPAPP_TEST<TD>151,72<TD>R<TD>NHI
<TR><TD class='data'>2020-01-18<TD class='data'><TD class='data'>09:20<TD>AAA_SHIPAPP_TEST<TD>151,72<TD>R<TD>NHI
<TR><TD class='data'>2020-01-18<TD class='data'><TD class='data'>00<TD>aaaaaaaaaaaaaaaaaaaaa <TD>133,95<TD>RKOT<TD>NBUL
<TR><TD class='data'>2020-01-18<TD class='data'>1100<TD class='data'>vvvsgdvvvvvvv<TD>STAMFORD PIONEER <TD>179,90<TD>R<TD>NHOL
<TR><TD class='data'>2020-01-18<TD class='data'>1800<TD class='data'><TD>BALTIC SHEARWATER <TD>169,00<TD>NBUL<TD>NHI
<TR><TD class='data'>2020-01-18<TD class='data'>1800<TD class='data'><TD>HERCULES J <TD>151,72<TD>NHI<TD>NBUL
<TR><TD class='data'>2020-01-18<TD class='data'>2000<TD class='data'><TD>CONTAINERSHIPS NORD <TD>169,95<TD>R<TD>NHI
<TR><TD class='data'>2020-01-18<TD class='data'>2300<TD class='data'><TD>HANZE GENDT <TD>180,00<TD>R<TD>NSZW
<TR><TD class='data'>2020-01-19<TD class='data'>0030<TD class='data'><TD>SONDERBORG <TD>158,01<TD>R<TD>NBUL
<TR><TD class='data'>2020-01-19<TD class='data'>0300<TD class='data'><TD>BALTIC SHEARWATER <TD>169,00<TD>NHI<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>0500<TD class='data'><TD>NEUENFELDE <TD>133,95<TD>NBUL<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>0700<TD class='data'><TD>VISCARIA <TD>82,76<TD>R<TD>NIND
<TR><TD class='data'>2020-01-19<TD class='data'>0800<TD class='data'><TD>GENCA <TD>205,00<TD>R<TD>NAME
<TR><TD class='data'>2020-01-19<TD class='data'>1100<TD class='data'><TD>HERCULES J <TD>151,72<TD>NBUL<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>1300<TD class='data'><TD>SAMSKIP ARCTIC <TD>97,70<TD>DN2<TD>SALB
<TR><TD class='data'>2020-01-19<TD class='data'>1300<TD class='data'><TD>CONTAINERSHIPS NORD <TD>169,95<TD>NHI<TD>NBUL
<TR><TD class='data'>2020-01-19<TD class='data'>1300<TD class='data'><TD>GENCA <TD>205,00<TD>NAME<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>1400<TD class='data'><TD>SONDERBORG <TD>158,01<TD>NBUL<TD>NHI
<TR><TD class='data'>2020-01-19<TD class='data'>1730<TD class='data'><TD>SONDERBORG <TD>158,01<TD>NHI<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>1800<TD class='data'><TD>MSC ANISHA <TD>281,00<TD>NHI<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>2300<TD class='data'><TD>CONTAINERSHIPS NORD <TD>169,95<TD>NBUL<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>AM<TD class='data'><TD>HAFNIA TORRES <TD>184,26<TD>NFAL<TD>R
<TR><TD class='data'>2020-01-19<TD class='data'>LPM<TD class='data'><TD>INZHENER VESHNYAKOV <TD>131,60<TD>R<TD>NNNN
<TR><TD class='data'>2020-01-19<TD class='data'>20:00<TD class='data'><TD>AURA <TD>101,30<TD>SALB<TD>R
<TR><TD class='data'>2020-01-20<TD class='data'>0730<TD class='data'><TD>GLOMAR WORKER <TD>60,00<TD>NANG<TD>DPMW
<TR><TD class='data'>2020-01-20<TD class='data'>0900<TD class='data'><TD>HAFNIA MALACCA <TD>184,26<TD>R<TD>NFAL
<TR><TD class='data'>2020-01-20<TD class='data'>1200<TD class='data'><TD>PAIVI <TD>82,50<TD>NROT<TD>NPOL
<TR><TD class='data'>2020-01-20<TD class='data'>1300<TD class='data'><TD>LINDA <TD>141,20<TD>R<TD>NHI
<TR><TD class='data'>2020-01-20<TD class='data'>PM<TD class='data'><TD>AMON+NB 446 KRISTIN <TD>89,23<TD>SWE<TD>R
<TR><TD class='data'>2020-01-21<TD class='data'>0800<TD class='data'><TD>NBA MILLET <TD>228,99<TD>R<TD>NRUM
<TR><TD class='data'>2020-01-21<TD class='data'>1800<TD class='data'><TD>SHETLAND <TD>109,66<TD>R<TD>NROT
<TR><TD class='data'>2020-01-21<TD class='data'>PM<TD class='data'><TD>BBC LONDON <TD>130,19<TD>R<TD>NHI
<TR><TD class='data'>2020-01-22<TD class='data'>1300<TD class='data'><TD>CHARLOTTA B <TD>168,11<TD>R<TD>NBUL
<TR><TD class='data'>2020-01-22<TD class='data'>AM<TD class='data'><TD>CONTAINERSHIPS AURORA <TD>169,95<TD>R<TD>NHI
<TR><TD class='data'>2020-01-22<TD class='data'>PM<TD class='data'><TD>MAIKE <TD>82,00<TD>R<TD>NNNN
<TR><TD class='data'>2020-01-22<TD class='data'>PM<TD class='data'><TD>PEAK BILBAO <TD>89,95<TD>R<TD>NROT
<TR><TD class='data'>2020-01-22<TD class='data'><TD class='data'><TD>FORTUNE TRADER <TD>225,00<TD>R<TD>NIND
<TR><TD class='data'>2020-01-23<TD class='data'>0500<TD class='data'><TD>DURANDE <TD>175,49<TD>R<TD>NBUL
<TR><TD class='data'>2020-01-23<TD class='data'>2300<TD class='data'><TD>SUSANNE THERESA <TD>92,86<TD>R<TD>NSLA
<TR><TD class='data'>2020-01-23<TD class='data'>AM<TD class='data'><TD>SPUIGRACHT <TD>173,18<TD>R<TD>NFRA
<TR><TD class='data'>2020-01-24<TD class='data'>0900<TD class='data'><TD>EMOTION <TD>170,08<TD>R<TD>NBUL
<TR><TD class='data'>2020-01-24<TD class='data'>1000<TD class='data'><TD>KING BARLEY <TD>228,99<TD>R<TD>NSZW
<TR><TD class='data'>2020-01-24<TD class='data'>1500<TD class='data'><TD>NEUENFELDE <TD>133,95<TD>R<TD>NBUL
<TR><TD class='data'>2020-01-24<TD class='data'>AM<TD class='data'><TD>ENSEMBLE <TD>134,60<TD>R<TD>NBUL
<TR><TD class='data'>2020-01-24<TD class='data'>LPM<TD class='data'><TD>ROMANTIKA <TD>192,90<TD>D1<TD>R
<TR><TD class='data'>2020-01-24<TD class='data'><TD class='data'><TD>JSP ROVER <TD>140,64<TD>R<TD>NHI
<TR><TD class='data'>2020-01-26<TD class='data'>0900<TD class='data'><TD>CORONA SEA <TD>187,06<TD>R<TD>NAME
<TR><TD class='data'>2020-01-26<TD class='data'>1300<TD class='data'><TD>CORONA SEA <TD>187,06<TD>NAME<TD>R
<TR><TD class='data'>2020-01-27<TD class='data'><TD class='data'><TD>WILSON ALMERIA <TD>88,23<TD>R<TD>NROT
<TR><TD class='data'>2020-01-27<TD class='data'><TD class='data'><TD>CONTAINERSHIPS POLAR <TD>169,95<TD>R<TD>NHI
<TR><TD class='data'>2020-02-05<TD class='data'><TD class='data'><TD>TRABZON <TD>229,00<TD>R<TD>NHOL
</table>			</div>
		</div>
	</div>
	<div id='project'>Projekt i wykonanie: <a href='http://lina.pl/'>Usługi informatyczne Lina.pl</a></div>
	</div>
</body>
</html>
